extends layout

block content
  .container
    .row
      h1 Registration Success!
      p.lead Your registration data has been saved successfully.
      p A representative will contact you after we process your data.
